<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABAKADA"
        tools:targetApi="31">
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".teacher.tabs.quizzes.CreateQuizActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".student.ModuleVideoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".student.ModuleListDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".student.ModulesActivity"
            android:exported="false" />
        <activity
            android:name=".student.StoryDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.ABAKADA" />
        <activity
            android:name=".teacher.tabs.modules.AddModulesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".teacher.tabs.stories.AddStoriesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".teacher.TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".student.StoryBookActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".clever_fox"
            android:exported="false" />
        <activity
            android:name=".snow_white"
            android:exported="false" />
        <activity
            android:name=".jackandbean"
            android:exported="false" />
        <activity
            android:name=".uglytree"
            android:exported="false" />
        <activity
            android:name=".uglyDuck"
            android:exported="false" />
        <activity
            android:name=".lionAndTheMouse"
            android:exported="false" />
        <activity
            android:name=".twoCatsStory"
            android:exported="false" />
        <activity
            android:name=".shapes"
            android:exported="false" />
        <activity
            android:name=".animals2"
            android:exported="false" />
        <activity
            android:name=".animals"
            android:exported="false" />
        <activity
            android:name=".letters"
            android:exported="false" />
        <activity
            android:name=".numbers"
            android:exported="false" />
        <activity
            android:name=".StoryBooks"
            android:exported="false" />
        <activity
            android:name=".QuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".modules_screen"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <receiver -->
            <!-- android:name=".NotificationReceiver" -->
            <!-- android:enabled="true" -->
            <!-- android:exported="false" /> -->


            <!-- <receiver -->
            <!-- android:name=".BootReceiver" -->
            <!-- android:enabled="true" -->
            <!-- android:exported="false"> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
            <!-- </intent-filter> -->
            <!-- </receiver> -->
        </activity>
    </application>

</manifest>